<html>
<%- include ../partials/head.ejs %>
<body>
<div class="container">
    <%- include menu.ejs %>
    <div class="row well" style="margin-top: 8px;">
        <% if (typeof error !== 'undefined') { %>
        <div class="col-sm-12">
            <div class="label label-danger">
                <%- error.message %>
            </div>
        </div>
        <% } %>
        <div class="col-sm-12 createForm">
            <!--<form method="post" action="/admin/item" enctype="multipart/form-data">-->
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" required>
                </div>
                <div class="form-group">
                    <label>Price(Big)</label>
                    <input class="form-control" type="number" name="priceBig" required>
                </div>
                <div class="form-group">
                    <label>Price(Small)</label>
                    <input class="form-control" type="number" name="priceSmall" required>
                </div>
                <div class="form-group">
                    <label>Photo</label>
                    <input class="form-control" type="file" name="photo">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary pull-right create" type="button">Add</button>
                </div>
            <!--</form>-->
        </div>
    </div>
    <div class="row">
        <!--<form id="actionForm" method="post" enctype="multipart/form-data">-->
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% items.forEach(function(item) { %>
                <tr class="item-<%- item.id %>">
                    <td width="200px">
                        <% if(item.photo) { %>
                        <img src="/photo/<%- item.photo %>" style="width: 100%; max-height: 100px;">
                        <% } else { %>
                        <img src="/img/default.jpg" style="width: 100%; max-height: 100px;">
                        <% } %>
                        <input type="file" name="photo">
                    </td>
                    <td>
                        <input type="text" name="name" class="form-control" value="<%- item.name %>" required>
                    </td>
                    <td>
                        <div class="form-group form-inline">
                            <label>Big</label>
                            <input type="number" name="priceBig" class="form-control" value="<%- item.price.big %>"
                                   required>
                        </div>
                        <div class="form-group form-inline">
                            <label>Small</label>
                            <input type="number" name="priceSmall" class="form-control"
                                   value="<%- item.price.small %>" required>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default update" type="button" data-id="<%- item.id %>">
                                UPDATE
                            </button>
                            <button class="btn btn-danger delete" type="button" data-id="<%- item.id %>">
                                DELETE
                            </button>
                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        <!--</form>-->
    </div>
</div>
<script>
    function create(data, cb) {
        $.ajax('/admin/item', {
            data: data,
            processData: false,
            contentType: false,
            method: 'post',
            success: function(response) {
                if(response.success) {
                    cb();
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function update(id, data, cb) {
        $.ajax('/admin/item/update/'+id, {
            data: data,
            processData: false,
            contentType: false,
            method: 'post',
            success: function(response) {
                if(response.success) {
                    cb();
                } else {
                    alert(response.message);
                }
            }
        });
    }

    $(document).ready(function () {
        var deleteBtn = $('.btn.delete');
        var updateBtn = $('.btn.update');
        var createBtn = $('.btn.create');

        deleteBtn.click(function () {
            if (!confirm("are you sure?")) {
                return false;
            }

            $(this).attr('disabled', 'disabled');
            $(this).text('正在刪除中...');

            var id = $(this).attr('data-id');

            $.ajax('/admin/item/delete/'+id, {
                method: 'post',
                success: function(response) {
                    if(response.success) {
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                }
            });
        });

        updateBtn.click(function () {
            var id = $(this).attr('data-id');
            var form = $('.item-'+id);

            var data = new FormData();

            $(this).attr('disabled', 'disabled');
            $(this).text('正在更新中...');

            data.append("name", form.find('input[name=name]').val());
            data.append("priceSmall", form.find('input[name=priceSmall]').val());
            data.append("priceBig", form.find('input[name=priceBig]').val());

            if(form.find('input[name=photo]')[0].files[0])
            {
                data.append("photo", form.find('input[name=photo]')[0].files[0]);
            }

            update(id, data, function() {
                location.reload();
            });
        });

        createBtn.click(function () {
            var form = $('.createForm');
            var data = new FormData();

            $(this).attr('disabled', 'disabled');
            $(this).text('正在加入中...');

            data.append("name", form.find('input[name=name]').val());
            data.append("priceSmall", form.find('input[name=priceSmall]').val());
            data.append("priceBig", form.find('input[name=priceBig]').val());

            if(form.find('input[name=photo]')[0].files[0])
            {
                data.append("photo", form.find('input[name=photo]')[0].files[0]);
            }

            create(data, function () {
                location.reload();
            });
        });
    });
</script>
</body>
</html>