<html>
<%- include ../partials/head.ejs %>
<body>
<div class="container">
    <%- include menu.ejs %>
    <div class="row well" style="margin-top: 8px;">
        <% if (typeof error !== 'undefined') { %>
        <div class="col-sm-12">
            <div class="label label-danger">
                <%- error.message %>
            </div>
        </div>
        <% } %>
        <div class="col-sm-12">
            <form method="post" action="/admin/item" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Price(Big)</label>
                    <input class="form-control" type="text" name="priceBig">
                </div>
                <div class="form-group">
                    <label>Price(Small)</label>
                    <input class="form-control" type="text" name="priceSmall">
                </div>
                <div class="form-group">
                    <label>Photo</label>
                    <input class="form-control" type="file" name="photo">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary pull-right">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">Photo</div>
                <div class="col-sm-3">Name</div>
                <div class="col-sm-2">Price(Big)</div>
                <div class="col-sm-2">Price(Small)</div>
                <div class="col-sm-2">Action</div>
            </div>
            <% items.forEach(function(item) { %>
            <div class="row">
                <form class="delform" action="/admin/item/delete/<%- item.id %>" method="post">
                    <div class="col-sm-12 clearfix">
                        <button class="btn btn-danger pull-right">Del</button>
                    </div>
                </form>
                <form action="/admin/item/<%- item.id %>" method="post" enctype="multipart/form-data">
                    <div class="col-sm-3">
                        <img src="/photo/<%- item.id %>" style="width: 100%; height: 100px;">
                        <input type="file" name="photo">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="name" class="form-control" value="<%- item.name %>">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="priceBig" class="form-control" value="<%- item.price.big %>">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="priceSmall" class="form-control" value="<%- item.price.small %>">
                    </div>
                    <div class="col-sm-2 clearfix">
                        <button class="btn btn-default pull-right">Update</button>
                    </div>
                </form>
            </div>
            <% }) %>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var delform = $('.delform');

        delform.submit(function () {
            if (!confirm('Are You Sure?')) {
                return false;
            }
        });
    })
</script>
</body>
</html>